*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7B506F;
    font-size: larger;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vh;
    width:18vh;
    border-radius: 1rem;
    border: none;
    background: #efefef;
    color: #1F1A38;
    font-size: 8vmin;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -0.1px -0.1px 0.1px rgb(12 3 3 / 40%), 
                -6px -0.1px 0.1px rgb(12 3 3 / 45%),
                 6px 6px 8px rgba(255, 255, 255, .075), 
                 6px 6px 10px rgba(0, 0, 0, .15);
}

.box:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.box:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

#reset_bttn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: #efefef;
    border-radius: 1rem;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -0.1px -0.1px 0.1px rgb(12 3 3 / 40%), 
                -6px -0.1px 0.1px rgb(12 3 3 / 45%),
                 6px 6px 8px rgba(255, 255, 255, .075), 
                 6px 6px 10px rgba(0, 0, 0, .15);
}
#reset_bttn:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
#reset_bttn:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }


#new_bttn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: #efefef;
    border-radius: 1rem;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -0.1px -0.1px 0.1px rgb(12 3 3 / 40%), 
                -6px -0.1px 0.1px rgb(12 3 3 / 45%),
                 6px 6px 8px rgba(255, 255, 255, .075), 
                 6px 6px 10px rgba(0, 0, 0, .15);
}
#new_bttn:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
#new_bttn:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }


#msg{
    color: black;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}